name: CI

on:
  push:
    branches:
      - 'develop'
  pull_request:
    types:
      - opened
    branches:
     - 'develop'
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Android Setup
        uses: ./.github/actions/android-setup

      - name: Run Android Lint
        run: ./gradlew lintDebug

      - name: Upload HTML lint report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: lint.html
          path: app/build/reports/lint-results-debug.html

      - name: Upload lint SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: app/build/reports/lint-results-debug.sarif

  unit_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: ./.github/actions/android-setup

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest